<div class="login">
    <h1>Login</h1>
    <div class="containerTextBox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" name="" value="" />
    </div>
    <div class="containerTextBox">
        <i class="fas fa-key"></i>
        <input type="text" placeholder="Password" name="" value="" />
    </div>
    <input class="btn" type="button" name="" value="" />
</div>