 <div id="questions"><p>Questions Placeholder</p></div>
<button id="a" onclick="checkAnswer('a')">A</button>
<button id="b" onclick="checkAnswer('b')">B</button>
<button id="c" onclick="checkAnswer('c')">C</button>
<button id="d" onclick="checkAnswer('d')">D</button>
<div id="result"></div>
</div>

<script src="script.js"></script> 
