* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: sans-serif;
    color: white;
}

.container{
    width: 50%;
    margin: 20px auto;
}

.header{
    background-color: blue;
    text-align: center;
    padding: 2rem;
}
.header h1{
    font-size: 2rem;
}

.date{
    background-color: green;
    text-align: right;
    font-size: 12px;
    padding: 0.5rem 2rem 0.5rem 0;
}

ul.currencyType{
    height: 50%;
    background-color: yellow;
}

.addCurrencyTypeList{
    background-color: purple;
    color: white;
    padding: 1px;
    font-size: 12px;
    font-weight: bold;
    border:none;
    border-top: 3px solid black;
    width: 100%;
    cursor: pointer;
}
